@import url("./something.css");
@import url("./about.css");
@import url("./alumni.css");
@import url("./contact.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./newsletter.css");
@import url("./partners.css");
